{% extends 'base.html' %}
{% block page_content %}

<div class="row">
  <div class="col-sm-6">
    {% for entry in py_content %}
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body">
        <img src="{{entry.img}}" class="img-fluid rounded-start" alt="entry-image">
        <h5 class="card-title">{{entry.title}}</h5>
        <a href="{{entry.url}}" class="btn btn-primary">link</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-6">
    {% for entry in programming_content %}
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body">
        <img src="{{entry.img}}" class="img-fluid rounded-start" alt="entry-image">
        <h5 class="card-title">{{ entry.title }}</h5>
        <a href="{{entry.url}}" class="btn btn-primary">link</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}